@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,700;1,700&family=Karla:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* grid para el index */
.contenedor {
  display: grid;
  height: 100vh;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  font-family: "Crimson Text", serif;
  font-weight: 700;
  background-color: #FAECDE; }
  .contenedor a {
    text-decoration: none; }
    .contenedor a:hover {
      border: 2px #4f0437 solid; }
  .contenedor .logoGrid {
    grid-column: 1/2;
    grid-row: 1/3;
    background-image: url(../assets/img/background-rosas.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .contenedor .logoGrid img {
      width: 50%;
      aspect-ratio: 1;
      -webkit-animation: puff-in-center 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) both;
      animation: puff-in-center 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) both; }
    .contenedor .logoGrid h1 {
      background-color: #faecdecb;
      font-size: 3rem;
      padding-inline: 1rem;
      color: #4f0437;
      -webkit-animation: puff-in-center 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) both;
      animation: puff-in-center 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) both; }
  .contenedor .formato {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #81899e;
    font-size: 50px;
    -webkit-animation: flip-in-ver-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: flip-in-ver-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }
  .contenedor .nosotrosGrid {
    grid-column: 2/3;
    grid-row: 1/2; }
    .contenedor .nosotrosGrid:hover {
      color: #4f0437; }
  .contenedor .catalogoGrid {
    grid-column: 3/4;
    grid-row: 1/2; }
    .contenedor .catalogoGrid:hover {
      color: #4f0437; }
  .contenedor .galeriaGrid {
    grid-column: 2/3;
    grid-row: 2/3; }
    .contenedor .galeriaGrid:hover {
      color: #4f0437; }
  .contenedor .contactoGrid {
    grid-column: 3/4;
    grid-row: 2/3; }
    .contenedor .contactoGrid:hover {
      color: #4f0437; }
  .contenedor .cuadro1 {
    animation-delay: 0.2s; }
  .contenedor .cuadro2 {
    animation-delay: 0.4s; }
  .contenedor .cuadro3 {
    animation-delay: 0.6s; }
  .contenedor .cuadro4 {
    animation-delay: 0.8s; }

@-webkit-keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1; } }

@keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1; } }

@-webkit-keyframes flip-in-ver-right {
  0% {
    -webkit-transform: rotateY(-80deg);
    transform: rotateY(-80deg);
    opacity: 0; }
  100% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    opacity: 1; } }

@keyframes flip-in-ver-right {
  0% {
    -webkit-transform: rotateY(-80deg);
    transform: rotateY(-80deg);
    opacity: 0; }
  100% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    opacity: 1; } }
