/* Configuracion CSS para el catalogo */

.catalogoPrincipal img{
    height: 400px;
    width: 300px;
}

.catalogoPrincipal{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    gap: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
    color: #E3C4BF;
    font-family: 'Crimson Text';
    font-weight: 700;
    font-size: 30px;
    text-align: center;
}

.catalogoPrincipal > div{
    transition: all 1s;
}

.catalogoPrincipal > div:hover{
    transform: translateY(-50px);
}
.catalogoPrincipal P{
    border: double 3px #FCFCD4;
}
/* solucionar problema para que haga el hover al mismo tiempo */
.catalogoPrincipal p:hover{
    border: double 3px #4f0437;
}

/* Configuracion Grid para la galeria */

.containerGaleria{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px , 1fr));
    grid-auto-rows: minmax(200px, auto);
    gap: 20px;
    grid-auto-flow: dense;
    color: #E3C4BF;
    font-family: 'Crimson Text';
    font-weight: 700 ;
    font-size: 30px;
    
}


.containerGaleria div:hover{
    transform: scale(1.2) ;
}
.grid-item{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
}
.tituloGaleria{
    grid-column: 1/-1;
}


.item1{
    background-image: url(../assets/img/ramo-rosa-comprimida.jpg);
}
.item2{
background-image: url(../assets/img/silent-comprimida.jpg);
}
.item3{
background-image: url(../assets/img/fashion-comprimida.jpg);
}
.item4{
background-image: url(../assets/img/garden1-comprimida.jpg);
}
.item5{
background-image: url(../assets/img/agung-comprimda.jpg);
}
.item6{
background-image: url(../assets/img/karolina-comprimida.jpg);
}
.item7{
background-image: url(../assets/img/garden2-comprimida.jpg);
}
.item8{
background-image: url(../assets/img/valeria-comprimida.jpg);
}
.item9{
background-image: url(../assets/img/asad-comprimida.jpg);
}
.item10{
background-image: url(../assets/img/ylanite-comprimida.jpg);
}
.item11{
background-image: url(../assets/img/garden3-comprimida.jpg);
}
.item12{
background-image: url(../assets/img/nadine-comprimida.jpg);
}
.item13{
background-image: url(../assets/img/zulaa-comprimida.jpg);
}
.item14{
background-image: url(../assets/img/binti-comprimida.jpg);
}
.item15{
 background-image: url(../assets/img/jonathan-comprimida.jpg);   
}
/* Configuracion contacto */
.navbar{
    font-family: 'Karla', sans-serif;
}
.nav-link{
    color: #81899e;
}

/* Configuracion para tablet */

@media screen and (max-width: 768px) {
    .contenedor{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(4,1fr);
    }
    .logoGrid{
        grid-column: 1/-1;
        grid-row: 1/3;
    }

    .logoGrid h1{
        font-size: 20px;
    }
    .nosotrosGrid{
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .catalogoGrid{
        grid-column: 2/3;
        grid-row: 3/4;
    }
    .galeriaGrid{
        grid-column: 1/2;
        grid-row: 4/5;
    }
    .contactoGrid{
        grid-column: 2/3;
        grid-row: 4/5;
    }
}

/* Configuracion para Celular */

@media  screen and (max-width: 320px) {

    /* Configuracion para la pagina de inicio */
    .contenedor{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
    }

    .logoGrid{
        grid-column: 1/2;
        grid-row: 1/3;
        
    }
    .logoGrid h1{
        background-color: #faecdecb;
        font-size: 20px;
        padding-inline: 15px;
    }
    .nosotrosGrid{
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .catalogoGrid{
        grid-column: 1/2;
        grid-row: 4/5;
    }
    .galeriaGrid{
        grid-column: 1/2;
        grid-row: 5/6;
    }
    .contactoGrid{
        grid-column: 1/2;
        grid-row: 6/7;
    }

    /* Configuracion para la pagina de nosotros */

    .slogan{
        height: 30vh;
        font-size: 20px;
    }
    .containerNosotros{
        grid-template-columns: 1fr;
        grid-template-rows: 50vh 1fr 2fr;
        grid-template-areas:
        'header'
        'main'
        'footer';
    }
    .logo{
        display: none;
    }
    .listaMenu{
        flex-direction: column;
    }
    .invernaderoImagen{
        width: 300px;
    }
    .textoComercializacion, .textoProduccion{
        width: 320px;
    }
    .comercializacion iframe{
        width: 320px;
    }
    .horario, .datosContacto{
        width: 320px;
    }
}

@media screen and (min-width: 320px) {
    .wide{
        grid-column: span 2;
    }
    
    .tall{
        grid-row: span 2;
    }
}

.navbar .container-fluid .barra .lista{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    
}
.formulario{
    font-family: 'Crimson Text';
    display: flex;
    flex-direction: column;
    padding: 3rem;
    align-items: center;
    gap: 2rem;
}

.aceptas{
    display: flex;
    justify-content: space-around;
}

.btn{
    transition: none;
}

.btn:hover{
    border: none;
    color: #81899e;
}

.dropdown-toggle{
    color: #81899e;
    transition: none;
}

.dropdown-toggle:hover{
    border: none;
}

.active{
    color: #4f0437 !important;
    border: none;
}

.tituloGaleria{
    font-weight: 700 ;
}