.catalogoPrincipal{

    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    gap: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
    color: $colorRosaFuerte;
    font-family: $fontCrimson;
    font-weight: 700;
    font-size: 30px;
    text-align: center;

    p{
        border: double 3px $colorAmarillo;
    }

    > div{
        transition: all 1s;

        &:hover{

            transform: translateY(-50px);
            p{border: double 3px #4f0437;}

        }

    }


    img{
    height: 400px;
    width: 300px;
    }

}

