.carousel {

    .carousel-inner{

        .carousel-item{
            height: 90vh;
            background-position: center;
            background-size: cover;
        }

      .fondo1{
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(../assets/img/imagenComprimidaSlider-1.jpg);

            h3{
                font-family: $fontCrimson;
                background-color: $colorRosaTransparente;
                padding-inline: 10px;
                color: $colorVino;
                font-weight: 700;
            }
                }

        .fondo2{
            display: flex;
            justify-content: center;
            align-items: center;
            background-image: url(../assets/img/imagenComprimidaSlider-2.jpg);

            h3{
                font-family: $fontCrimson;
                background-color: $colorRosaTransparente;
                padding-inline: 10px;
                color: $colorVino;
                font-weight: 700;
            }

                }
                
        
    }
}


.containerNosotros{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh 1fr 20vh;
    grid-template-areas: 
    'header'
    'main'
    'footer';

    @include mobile{
         grid-template-columns: 1fr;
        grid-template-rows: 50vh 1fr 2fr;
        grid-template-areas:
        'header'
        'main'
        'footer';
    }
    .headerNosotros{
        grid-area: header;
        position: sticky;
        top: 0;

        @include tablet{
            padding: 0;
        }

        .container-fluid{

            @include tablet{
                height: 100%;
            }
            .navbar-brand{

               @include tablet{
                height: 100%;
               }
                 
                img{
                    @include tablet{
                        height: 100%;
                        width: 71px;
                    }
                }
               

            }
        }
        
    }

    .mainNosotros{
        grid-area: main;
        padding: 0 1rem 1rem 1rem;

      

        #nosotros{
            padding-top: 10vh;

            h1{
                margin-top: 30px;
                margin-bottom: 30px;
                font-size: 50px;
                text-align: center;
                font-family: $fontCrimson;
                color: $colorRosaFuerte;
                font-weight: 700;
            }

            .produccion{
                display: flex;
                margin: 30px;
                gap: 30px;
                justify-content: center;

                @include tablet{
                    flex-direction: column;
                }

                .imagenProduccion{
                    .invernaderoImagen{
                        width: 100%;
                    }
                }

                > div{
                    width: 100%;
                }

                .textoProduccion{
                    display: flex;
                    flex-direction: column;
                    font-family: $fontCrimson ;
                    color: $colorAzul;
                    text-align: center;
                    font-size: 20px;
                    font-weight: 400;
                    gap: 20px;
                   

                    h2{
                        font-family: $fontCrimson;
                        color: $colorRosaFuerte;
                        font-style: italic;
                        font-size: 35px;
                        font-weight: 700;
                    }
                }
            }

            .comercializacion{
                display: flex;
                margin: 30px;
                gap: 30px;
                justify-content: center;
                flex-direction: row-reverse;

                @include tablet{
                    flex-direction: column;
                }

                > *{
                    width: 100%;
                }

                .textoComercializacion{
                    display: flex;
                    flex-direction: column;
                    font-family: $fontCrimson ;
                    color: $colorAzul;
                    text-align: center;
                    font-size: 20px;
                    font-weight: 400;
                    gap: 20px;

                    h2{
                        font-family: $fontCrimson;
                        color: $colorRosaFuerte;
                        font-style: italic;
                        font-size: 35px;
                        font-weight: 700;
                    }
                }
                
            }

        }
    }
    
    }

    .footerNosotros{
        background-color:$colorRosa;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        color: $colorAzul;
        font-family: $fontKarla;
        font-size: 20px;
        padding-block: 2rem;
        gap: 30px;
        grid-area: footer;
        
        @include tablet{
            flex-direction: column;
        }


        img{
            width: 30px;
            height: 30px;
        }
        
            

            .datosContacto{

                /* flex-wrap: wrap; */
                height: 100%;
                width: 100%;
                display: flex;
                justify-content:space-evenly;
                text-align: center;
                flex-direction: column;

                @include tablet{
                    flex-direction: row;
                }

                h6{
                    font-size: 20px;
                }
                

                .bloqueWhatsapp, .bloqueGmail{
                display: flex;
                align-items: center;
                gap: 30px;
                flex-wrap: wrap;
                justify-content: center;
                }
            }

            .horario{

                /* flex-wrap: wrap; */
                height: 100%;
                width: 100%;
                display: flex;
                justify-content:space-evenly;
                text-align: center;
                flex-direction: column;

                @include tablet{
                    flex-direction: row;
                }

                h6{
                    font-size: 20px;
                }
                
                .bloqueHorario{
                    display: flex;
                    align-items: center;
                    gap: 30px;
                    flex-wrap: wrap;
                    justify-content: center;

                    .textoHorario{
                        display: flex;
                        flex-direction: column;
                    }
                    
                }
            }
            
        


    }
    