@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,700;1,700&family=Karla:wght@500&display=swap');

$fontCrimson: 'Crimson Text', serif;
$colorVino: #4f0437;
$colorRosa: #FAECDE;
$colorAzul: #81899e;
$colorRosaTransparente: #faecdecb;